<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login to Howapp</title>
  <link rel='shortcut icon', href='/favicon.png'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/custom.css">

</head>
<body>

    <div class = "container">
        <div class="wrapper">
            <% include ../partials/flash %>
          <form action="" method="post" name="Login_Form" class="form-signin">  
              <input type="hidden" name="_csrf" value="<%= _csrf %>"/>    
              <h3 class="form-signin-heading">HowApp Admin! Please Sign In</h3>
              <hr class="colorgraph"><br>
              
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" required autofocus />
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>     		  
             
              <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
                <br><a href="/forgot">Forgot your password?</a>		
          </form>			
        </div>
      </div>
  <script src='/js/lib/jquery-3.1.1.min.js'></script>
  <script src='/js/lib/bootstrap.min.js'></script>
  <script src='/js/main.js'></script>
</body>
</html>