<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HowApp Admin Dashboard</title>
  <link rel='shortcut icon', href='/favicon.png'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/custom.css">

</head>
<body>
  <% include partials/header %>
  <br>
  <% include partials/flash %>
  <br><br><br>
  <center><h1>Homepage</h1></center>

  <% include partials/footer %>
  
    <script src='/js/lib/jquery-3.1.1.min.js'></script>
    <script src='/js/lib/bootstrap.min.js'></script>
    <script src='/js/main.js'></script>    
</body>
</html>
